<div class="container my-4">
  <h2><i class="fas fa-suitcase-rolling"></i>旅の思い出一覧</h2>
    <h5><%= link_to "旅の思い出投稿", new_memory_path %></h5>
    <div class="search-form">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
    </div>
    <% @all_ranks.each.with_index(1) do |like| %>
      <%= like.title %>
    <% end %>
  <div class="row">
    <div class="col">
      <table class="table table-boedered">
        <thead align="center">
          <th style="width: 8%">投稿者</th>
          <th style="width: 8%">旅行先</th>
          <th style="width: 8%">ジャンル</th>
          <th style="width: 8%">写真</th>
          <th style="width: 12%">評価</th>
          <th style="width: 8%">いいね！</th>
          <th style="width: 8%">ブックマーク</th>
        </thead>
        <% @memories.each do |memory| %>
        <tbody align="center">
          <td><%= link_to memory.user.name, memory_path(memory) %></td>
          <td><%= memory.district.name %></td>
          <td><%= memory.genre.name %></td>
　　　　　<td>
　　　　　  <% memory.memory_images.first(1).each do |image| %>
　　　　　    <%= attachment_image_tag image, :image, size: '100x80' %>
　　　　　  <% end %>
　　　　　</td>
　　　　　<td id="rate-<%= memory.id %>"></td>
　　　　　<td id="like_buttons_<%= memory.id %>">
　　　　　  <%= render "user/likes/like", memory: memory %>
　　　　　</td>
　　　　　<td>
　　　　　  <% if memory.favorited_by?(current_user) %>
　　　　　    <%= link_to "ブックマーク外す", memory_favorites_path(memory), method: :delete %>
　　　　  　<% else %>
　　　　　    <%= link_to "ブックマーク", memory_favorites_path(memory), method: :post %>
　　　　　 <% end %>
　　　　　</td>
　　　　　<script>
　　　　　  $('#rate-<%= memory.id %>').raty({
　　　　　    size: 15,
              starOn: '<%= asset_path('star-on.png') %>',
              starOff: '<%= asset_path('star-off.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= memory.rate %>
　　　　　  });
　　　　　</script>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>