<div class="container my-4">
  <h2><i class="fas fa-suitcase-rolling"></i> 検索結果</h2>
  <div class="row">
    <div class="col">
      <table class="table table-warning">
        <tr>
          <th style="width: 8%">投稿者</th>
          <th style="width: 8%">旅行先</th>
          <th style="width: 8%">ジャンル</th>
          <th style="width: 8%">写真</th>
          <th style="width: 12%">評価</th>
          <th style="width: 8%">いいね！</th>
          <th style="width: 8%">ブックマーク</th>
        </tr>
        <tr>
          <% @memories.each do |memory| %>
          <td><%= memory.user.name %></td>
          <td><%= link_to memory.district.name, memory_path(memory) %></td>
          <td><%= memory.genre.name %></td>
　　　　  <td>
　　　　    <% memory.memory_images.first(1).each do |image| %>
　　　　      <%= attachment_image_tag image, :image, class: 'thumbnail' %>
　　　　    <% end %>
　　　　  </td>
　　　　  <td id="rate-<%= memory.id %>"></td>
　　　　  <td id="like_buttons_<%= memory.id %>">
　　　　    <%= render "user/likes/like", memory: memory %>
　　　　  </td>
　　　　  <td>
　　　　    <% if memory.favorited_by?(current_user) %>
　　　　      <%= link_to "ブックマーク外す", memory_favorites_path(memory), method: :delete %>
　　　　　  <% else %>
　　　　      <%= link_to "ブックマーク", memory_favorites_path(memory), method: :post %>
　　　　    <% end %>
　　　　  </td>
　　　　</tr>
　　　　<script>
　　　　  $('#rate-<%= memory.id %>').raty({
　　　　    size: 15,
            starOn: '<%= asset_path('star-on.png') %>',
            starOff: '<%= asset_path('star-off.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= memory.rate %>
　　　　  });
　　　　</script>
      <% end %>
      </table>
      <%= paginate @memories %>

    </div>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
