<div class="container my-4">
  <h2><i class="fas fa-suitcase-rolling"></i> <%= @user.name %>さんのマイページ</h2>
  <div class="row">
    <div class="col-lg-5">
      <br>
      <h5><i class="fas fa-solid fa-camera"></i> <%= link_to "旅の思い出投稿", new_memory_path %></h5>
      <br>
      <table class="white">
        <tr>
          <th class="text_left">投稿数</th>
          <td><%= @memories.count %></td>
        </tr>
        <tr>
          <th class="text_left">行ったことがある都道府県数</th>
          <td><%= @district_count %></td>
        </tr>
        <tr>
          <th class="text_left">ニックネーム</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th class="text_left">メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
      <div class="d-flex center">
        <% if user_signed_in? && @user == current_user %>
          <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-success mx-auto" %>
        <% end %>
      </div>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5">
      <table class="table table-warning">
        <h3>My Memories</h3>
        <thead>
          <th>旅行先</th>
          <th>タイトル</th>
        </thead>
        <% @memories.each do |memory| %>
        <tbody>
          <td><%= link_to memory.district.name, memory_path(memory) %></td>
          <td><%= memory.title %></td>
        </tbody>
        <% end %>
    </div>
    <div class="col-lg-5">
      <table class="table table-warning">
        <h3>My Favorites</h3>
        <thead>
          <th>旅行先</th>
          <th>タイトル</th>
        </thead>
        <% @favorites.each do |favorite| %>
        <tbody>
          <td><%= link_to favorite.district.name, memory_path(favorite) %></td>
          <td><%= favorite.title %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>